figure[data-rehype-pretty-code-figure] {
  overflow: hidden;
  border-radius: 0.375rem;
}

figure[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
  border-radius: 0;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

figcaption[data-rehype-pretty-code-title] {
  border-radius: 0.375rem 0.375rem 0 0;

  background-color: rgb(255 228 230 / 0.1);
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;

  margin-right: 0.75rem;
  width: 1rem;
  color: rgb(255 255 255 / 0.2);
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: #797979;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-highlighted-line] {
  background: #c8c8ff1a;
  --tw-border-opacity: 1;
  border-left-color: rgb(96 165 250/var(--tw-border-opacity))
}